
@{
    ViewData["Title"] = "CheckOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/styleSuccessful.css" />

<div id="notfound">
    <div class="notfound">
         <h1> <img width="200" height="150" src="~/picture/tickSuccessful.png" alt="..."></h1>
        <h2>ĐẶT HÀNG THÀNH CÔNG</h2>
        <p>TIẾP TỤC MUA HÀNG</p>
        <a asp-action="Index" asp-controller="Home">Trở về trang chủ</a>
    </div>
</div>
